

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.titre-centre{
    text-align: center;
}


.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-item {
    position: relative;
    margin-right: 20px;
}

.menu-item a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: background-color 0.3s;
}

.menu-item a:hover {
    background-color: #444;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
    z-index: 1000;
}

.menu-item:hover .submenu {
    display: block;
}

.submenu li a {
    background-color: #7d2020;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.submenu li a:hover {
    background-color: #555;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.item {
    position: relative;
    width: 30%;
    height: 300px;
    margin: 10px;
    background-size: cover;
    background-position: center;
    color: white;
}

.item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h2{
        color: #f3efef;
    }
}

.our-programs {
    background-image: url('../image/u13.jpg');

}

.our-programs:hover {
    border: 4px solid #3f0808;
    h2{
        color: #ada3a3;
    }

}


.we-are-moving {
    background-image: url('../image/u15.jpg');
}
.we-are-moving:hover {
    border: 4px solid #3f0808;
    h2{
        color: #ada3a3;
    }

}

.force-academy {
    background-image: url('../image/pj.jpg');
}
.force-academy:hover {
    border: 4px solid #3f0808;
    h2{
        color: #ada3a3;
    }

}


.recreational-programs {
    background-image: url('../image/sen.jpg');
}
.recreational-programs:hover {
    border: 4px solid #3f0808;
    h2{
        color: #ada3a3;
    }

}





footer {
    background-color: #0056A6;
    color: rgb(243, 243, 243);
    text-align: center;
    padding: 10px;
}




header {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.logo img {
    height: 50px;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-item {
    position: relative;
    margin-right: none;
}

.menu-item a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
}

.menu-item:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left:0;
    background-color: #444;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
    z-index: 1000;
}

.submenu li {
    margin: 0;
}

.submenu li a {
    background-color: #7d2020;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    display: block;
}

.submenu li a:hover {
    background-color: #555;
}

.partners {
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
    h2{
        color: #570a0a;
    }
}
.partners img {
    max-width: 100px;
    margin: 10px;
}
footer {
    background-color: #333;
    color: rgb(238, 231, 231);
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}