<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceuil</title>
    <link rel="stylesheet" type="text/css" href="../static/css/cont.css" />
    

</head>
<body>
    <div>
        <header>
            <div class="logo">
                <a href= "Acceuil.html">  <img src="../static/image/logo.png" alt="Logo"></a>
            </div>
            <nav>
                <ul class="menu">
                    <li class="menu-item">
                        <a href="#">NOTRE ASSOCIATION</a>
                        <ul class="submenu">
                            <li><a href="https://asgatineau.itemorder.com/shop/home/">BOUTIQUE</a></li>
                            <li><a href="Projet.html">PROJET SPORTIF 2024</a></li>
                            <li><a href="Rapport.html">RAPPORT ANNUEL CA</a></li>
                            <li><a href="Organigramme.html">ORGANIGRAMME</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="Base.html">BASE 4 à 12 ans</a>
                        
                    <li class="menu-item">
                        <a href="juvenille.html">JUVÉNILLE 13 ans+</a>
                        
                    </li>
                    <li class="menu-item">
                        <a href="#">CLIENTS</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">INFORMATIONS</a>
                        <ul class="submenu">
                            <li><a href="terrains.html">TERRAINS & GYMNASES </a></li>
                            <li><a href="Politiques_reglements.html">REGLEMENTS GENERAUX ET POLITIQUES</a></li>
                            <li><a href="autres.html"> DOCUMENTS</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="contactus.html"> CONTACT</a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>

    <h1 class="titre-centre">AS GATINEAU </h1>


    <main>
        <section class="hero">
            <div class="hero-content">
                
            </div>
        </section>
        <section class="resources">
            <div class="resource">
                <img src="../static/image/base.jpg" alt="Resource 1">
                <h2> BASE</h2>
                <p>Pour les athlètes de 4 à 12 ans.</p>
                <a href="../templates/base.html">Learn More</a>
            </div>
            <div class="resource">
                <img src="../static/image/equip.jpg" alt="Resource 2">
                <h2>JUVENILLE</h2>
                <p>Pour les athlètes de 13 à 17 ans</p>
                <a href="../templates/juvenille.html">Learn More</a>
            </div>
            <div class="resource">
                <img src="../static/image/seni.jpg" alt="Resource 3">
                <h2>SENIOR</h2>
                <p>Pour les athlètes de 18 et plus</p>
                <a href="../vues/Programme ÉTÉ senior.pdf">Learn More</a>
            </div>
        </section>

    </main>
  
    <!-- Pied de page -->
    <footer>
        <div class="partners">
            <h2>Nos Partenaires</h2>
            <a href="https://www.gatineau.ca/portail/default.aspx?p=accueil"><img src="../static/image/partenaire.png" alt="ville Gatineau"></a>
            <a href="https://www.sinistre.com"><img src="../static/image/partenaire3.jpg" alt="Sinistre Outaouais"></a>
            <a href="https://west.iga.ca/"><img src="../static/image/partenaire2.jpg" alt="IGA"></a>
            <a href="https://www.timhortons.ca/"><img src="../static/image/partenaire1.png" alt="tim hortons"></a>
            <a href="https://www.sourceforsports.ca/fr/pages/marc-sports-la-source-du-sport-gatineau"><img src="../static/image/partenaire0.png" alt="Marc sport"></a>
        </div>

    
            <p>&copy; 2024 Association de Soccer de Gatineau . Tous droits réservés.</p>
    </footer>
</body>
</html>
