<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="../static/css/Style.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/contactus.css" />
</head>
<body>        
    <div>
        <header>
            <div class="logo">
                <a href= "Acceuil.html">  <img src="../static/image/logo.png" alt="Logo"></a>
            </div>
            <nav>
                <ul class="menu">
                    <li class="menu-item">
                        <a href="#">NOTRE ASSOCIATION</a>
                        <ul class="submenu">    
                            <li><a href="https://asgatineau.itemorder.com/shop/home/">BOUTIQUE</a></li>
                            <li><a href="Projet.html">PROJET SPORTIF 2024</a></li>
                            <li><a href="Rapport.html">RAPPORT ANNUEL CA</a></li>
                            <li><a href="Organigramme.html">ORGANIGRAMME</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="Base.html">BASE 4 à 12 ans</a>
                        
                    <li class="menu-item">
                        <a href="juvenille.html">JUVÉNILLE 13 ans+</a>
                        
                    </li>
                    <li class="menu-item">
                        <a href="programme.html">CLIENTS</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">INFORMATIONS</a>
                        <ul class="submenu">
                            <li><a href="terrains.html">TERRAINS & GYMNASES </a></li>
                            <li><a href="Politiques_reglements.html">REGLEMENTS GENERAUX ET POLITIQUES</a></li>
                            <li><a href="autres.html"> DOCUMENTS</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="contactus.html"> CONTACT</a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
    
        <h1>Contact Us</h1>
        <form action="#" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="subject">Subject</label>
                <input type="text" id="subject" name="subject" required>
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea id="message" name="message" rows="5" required></textarea>
            </div>
            <button type="submit">Send</button>
        </form>

        <div class="image-container">
            <img src="../static/image/image.png" alt="image">
        </div>
     


    </div>
   

</body>
</html>
