<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politiques er Reglements</title>
    <link rel="stylesheet" type="text/css" href="../static/css/Style.css" />

</head>
<body>
    <header>
        <div class="logo">
            <a href="Acceuil.html"><img src="../static/image/logo.png" alt="Logo"></a>
        </div>
        <nav>
            <ul class="menu">
                <li class="menu-item">
                    <a href="#">NOTRE ASSOCIATION</a>
                    <ul class="submenu">
                        <li><a href="https://asgatineau.itemorder.com/shop/home/">BOUTIQUE</a></li>
                        <li><a href="Projet.html">PROJET SPORTIF 2024</a></li>
                        <li><a href="Rapport.html">RAPPORT ANNUEL CA</a></li>
                        <li><a href="Organigramme.html">ORGANIGRAMME</a></li>
                    </ul>
                </li>
                <li class="menu-item"><a href="Base.html">BASE 4 à 12 ans</a></li>
                <li class="menu-item"><a href="juvenille.html">JUVÉNILLE 13 ans+</a></li>
                <li class="menu-item"><a href="programme.html">CLIENTS</a></li>
                <li class="menu-item">
                    <a href="#">INFORMATIONS</a>
                    <ul class="submenu">
                        <li><a href="terrains.html">TERRAINS & GYMNASES</a></li>
                        <li><a href="Politiques_reglements.html">REGLEMENTS GENERAUX ET POLITIQUES</a></li>
                        <li><a href="autres.html">DOCUMENTS</a></li>
                    </ul>
                </li>
                <li class="menu-item"><a href="contactus.html">CONTACT</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1 class="titre-centre">REGLEMENTS ET POLITIQUES DE L'AS GATINEAU</h1>
        <div class="rapport">
            <div class="rapport1">
                <div class="rapport2">
                    <a href="../vues/asg.reglementsgeneraux.2018.pdf"><h2>Reglements géneraux</h2></a>
                </div>
            </div>
            <div class="rapport1">
                <div class="rapport2">
                    <a href="../vues/Annulation des activités.pdf"><h2>Annulation d'activités</h2></a>
                </div>
            </div>
            <div class="rapport1">
                <div class="rapport2">
                    <a href="../vues/Code de conduite de l’entraîneur .pdf"><h2>code pour les Educateurs</h2></a>
                </div>
            </div>
            <div class="rapport1">
                <div class="rapport2">
                    <a href="../vues/Code-de-conduite- des-parents .pdf"><h2>code pour les parents</h2></a>
                </div>
            </div>
            <div class="rapport1">
                <div class="rapport2">
                    <a href="../vues/Code-de-conduite-des-athlètes AS .pdf"><h2>code pour les athlètes</h2></a>
                </div>
            </div>
            <div class="rapport1">
                <div class="rapport2">
                    <a href="../vues/Entente d'engagement des athlètes du Programme Performance .pdf"><h2>Athlètes performance</h2></a>
                </div>
            </div>
            <div class="rapport1">
                <div class="rapport2">
                    <a href="https://www.education.gouv.qc.ca/eleves/securite-integrite-et-ethique/integrite-et-ethique/prevention-de-labus-du-harcelement-de-la-negligence-et-de-la-violence"><h2>Contre l'Harcelement</h2></a>
                </div>
            </div>
            <div class="rapport1">
                <div class="rapport2">
                    <a href="../vues/Abus-Pédosexuels.pdf""><h2>Abus pédosexuels</h2></a>
                </div>
            </div>
            <div class="rapport1">
                <div class="rapport2">
                    <a href="../vues/SIGNALEMENT-DE-CONDUITE-INAPPROPRIEE.pdf"><h2>signalement de conduite </h2></a>
                </div>
            </div>
            <div class="rapport1">
                <div class="rapport2">
                    <a href="../vues/Mouvement-Entraînement-Responsable.pdf"><h2>Educateur responsable</h2></a>
                </div>
            </div>  <div class="rapport1">
                <div class="rapport2">
                    <a href="../vues/protection des jeunes athlètes AS GATINEAU.pdf"><h2>protection jeune athlètes</h2></a>
                </div>
            </div>
            <div class="rapport1">
                <div class="rapport2">
                    <a href="../vues/Lignes-directrices-pour-les-adultes-qui-interagissent-avec-de-jeunes-athlètes.pdf"><h2>code pour adulte</h2></a>
                </div>
            </div>
            <div class="rapport1">
                <div class="rapport2">
                    <a href="../vues/Rapport DT 2023.pdf"><h2>plan d'action d'urgence</h2></a>
                </div>
            </div>
            <div class="rapport1">
                <div class="rapport2">
                    <a href="../vues/"><h2>securité des membres</h2></a>
                </div>
            </div>
            <div class="rapport1">
                <div class="rapport2">
                    <a href="../vues/Code-de-tenues-équipements-.pdf"><h2>code d'équipements</h2></a>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="partners">
            <h2>Nos Partenaires</h2>
            <a href="https://www.gatineau.ca/portail/default.aspx?p=accueil"><img src="../static/image/partenaire.png" alt="ville Gatineau"></a>
            <a href="https://www.sinistre.com"><img src="../static/image/partenaire3.jpg" alt="Sinistre Outaouais"></a>
            <a href="https://west.iga.ca/"><img src="../static/image/partenaire2.jpg" alt="IGA"></a>
            <a href="https://www.timhortons.ca/"><img src="../static/image/partenaire1.png" alt="tim hortons"></a>
            <a href="https://www.sourceforsports.ca/fr/pages/marc-sports-la-source-du-sport-gatineau"><img src="../static/image/partenaire0.png" alt="Marc sport"></a>
        </div>
        <p>&copy; 2024 Association de Soccer de Gatineau. Tous droits réservés.</p>
    </footer>
</body>
</html>



