<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terrains</title>
    <link rel="stylesheet" type="text/css" href="Style.css" />

</head>
<body>
    <div>
        <header>
            <div class="logo">
              <a href= "Acceuil.html">  <img src="logo.png" alt="Logo"></a>
            </div>
            <nav>
                <ul class="menu">
                    <li class="menu-item">
                        <a href="#">NOTRE ASSOCIATION</a>
                        <ul class="submenu">
                            <li><a href="#">BOUTIQUE</a></li>
                            <li><a href="#">PROJET SPORTIF 2024</a></li>
                            <li><a href="#">RAPPORT ANNUEL CA</a></li>
                            <li><a href="#">ORGANIGRAMME</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="#">BASE 4 à 12 ans</a>
                        
                    <li class="menu-item">
                        <a href="#">JUVÉNILLE 13 ans+</a>
                        
                    </li>
                    <li class="menu-item">
                        <a href="#">NOS PROGRAMMES</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">INFORMATIONS</a>
                        <ul class="submenu">
                            <li><a href="#">TERRAINS & GYMNASES </a></li>
                            <li><a href="#">REGLEMENTS GENERAUX ET POLITIQUES</a></li>
                            <li><a href="#"> DOCUMENTS</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="#"> CONTACT</a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>


    
</body>
</html>
